{% extends 'header.html' %}

{% block head %}


<title>Heating Load and Cooling Load Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Heating Load & Cooling Load Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">Relative Compactness</label>
                <input class="form-control" type="text" name="Relative_Compactness" placeholder="Enter a value of Relative Compactness"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Surface Area</label>
                <input class="form-control" type="text" name="Surface_Area" placeholder="Enter a value of Surface Area"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Wall Area</label>
                <input class="form-control" type="text" name="Wall_Area"
                    placeholder="Enter a value of Wall Area" />

            </div>
            <div class="mb-3">
                <label class="form-label">Roof Area</label>
                <input class="form-control" type="text" name="Roof_Area" placeholder="Enter a value of Roof Area"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Overall Height</label>
                <input class="form-control" type="text" name="Overall_Height"
                    placeholder="Enter a value of Overall Height" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Orientation</label>
                <input class="form-control" type="text" name="Orientation" placeholder="Enter a value of Orientation"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Glazing Area</label>
                <input class="form-control" type="text" name="Glazing_Area" placeholder="Enter a value of Glazing Area"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Glazing Area Distribution</label>
                <input class="form-control" type="text" name="Glazing_Area_Distribution"
                    placeholder="Enter a value of Glazing Area Distribution" required />
            </div>
            
                </select>
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Heating Load & Cooling Load" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Heating Load and Cooling Load
            </div>
            <div class="card-body">
        {% if context['energyefficiency_data'] is not none %}
        <table class="table table-striped">
            <caption>Heating Load and Cooling Load Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['energyefficiency_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>Heating_Load </td>
                <td>
                    {{ context['Heating_Load'] }}
                </td>
                <td>Cooling_Load </td>
                <td>
                    {{ context['Cooling_Load'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate Heating Load and Cooling Load for your building.</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}